:root {
    --pc-blue:#00549B;
    --pc-green:#02954A;
    --pc-light-gray:#E9E9E9;
    --pc-gray:#4D4D4D;
    --pc-shade-1:#758BAF;
    --pc-shade-2:#BEC9D9;

}

@font-face {
    font-family: montserrat_regular;
    src: url('../fonts/MontserratRegular.ttf');
}

@font-face {
    font-family: montserrat_medium;
    src: url('../fonts/MontserratMedium.ttf');

}

@font-face {
    font-family: montserrat_bold;
    src: url('../fonts/MontserratBold.ttf');
}


body {

    background-color: white;
    font-family: montserrat_regular;

}



@media (max-width: 768px) {

    .pc-secondary-navbar {

        padding-top:0;
        padding-bottom:0;
    
    }
    

    .navbar-nav {

        padding-top:0.5rem;
        padding-bottom:0.5rem;

    }

}

.pc-btn-green {
  color: #fff;
  background-color: var(--pc-green);
  border-color: var(--pc-green);
}


.pc-btn-green:hover {

color: #fff;
background-color: #2fa360;
border-color: #2d995b;

}

.learn-btn {

padding: 0.6rem 2rem;
font-size: 0.7rem;

}

.pc-btn-outline-blue {

color: var(--pc-blue);
border-color: var(--pc-blue);
font-family: montserrat_bold;

}
  
.pc-btn-outline-blue:hover {

color: #fff;
background-color: var(--pc-blue);
border-color: var(--pc-blue);

}

.pc-btn-blue {

color: #fff;
background-color: var(--pc-blue);
border-color: var(--pc-blue);
font-family: montserrat_bold;


}

.pc-btn-blue:hover {

color: var(--pc-blue);
border-color: var(--pc-blue);
background-color: #fff;

}
  


.pc-btn-white {

color: var(--pc-blue);
border-color:  #fff;
background-color: #fff;
font-family: montserrat_bold;

}

.pc-btn-white:hover {

color: #fff;
background-color: var(--pc-blue);
border-color: #fff;

}

.pc-bg-blue {

    background-color: var(--pc-blue);

}

.navbar a {

    font-size: 13px;

}

.pc-text-blue {

    color: var(--pc-blue);

}

.pc-text-regular {

    font-family: montserrat_regular;

}

.pc-text-medium {

    font-family: montserrat_medium;

}

.pc-text-bold {

    font-family: montserrat_bold;

}

.pc_text_bold {

    font-family: montserrat_bold;

}

.pc_text_regular {

    font-family: montserrat_regular;

}

.footer-font-size {

    font-size:13px;

}

.image-blend {

    mix-blend-mode: multiply;

}

.ju-number-font {

    font-size:20px;

}

.list-unstyled li{

    padding-top:15px;

}

.list-unstyled li a{

    color: var(--pc-gray);

}

.ic-size i {

    font-size: 25px;

}


.pc-bg-gray {

    background-color:var(--pc-light-gray);

}


.nav-wrapper {

    background-color: var(--pc-light-gray);
    padding-left:20px;
    border-radius:0.25rem;
    height:100%;
    
}






