.img-date {
    position: relative;
}

.news-date{

    position: absolute;
    bottom: 0;
    padding: 0.4rem 1.7rem 0.4rem 1.7rem;
    background-color: var(--pc-blue);

}

.news-date p {
    font-size:13px;
    color:white;
    padding: 0;
    margin: 0;
    
}

.list-group-item {

    background-color: transparent;
    border:0;
    padding-left:0;
 
}

.shade-1 {

    height:20px;
    background-color: var(--pc-shade-1);

}

.shade-2 {

    height:35px;
    background-color: var(--pc-shade-2);
    
}

.carousel-item {


    max-height:500px;


}

.whoweare-spacer {
    /* background-color:green; */
    padding-top:4rem;
    padding-bottom:4rem;

}

.csr-spacer {
    
    /* padding-top:2rem; */
    padding-bottom:2rem;

}

.circular-spacer {
    
    padding-top:4rem;
    padding-bottom:4rem;

}

.joinus-spacer {
    
    padding-top:4rem;
    padding-bottom:4rem;

}

.img-members {

    width:160px;

}






@media (min-width: 992px) {  

    .csr-text-content {

        padding-left:5rem;
    
    }

    .whoweare-text-content {

        padding-left:5rem;

    }

}

