

.list-group-item {

    background-color: transparent;
    border:0;
    padding-left:0;
 
}

.shade-1 {

    height:20px;
    background-color:gray;

}

.shade-2 {

    height:25px;
    background-color:darkgrey;
    
}

.carousel-item {


    max-height:500px;


}
.whoweare-spacer {
    /* background-color:green; */
    padding-top:100px;
    padding-bottom:100px;

}

.csr-spacer {
    /* background-color:green; */
    padding-top:100px;
    padding-bottom:100px;
    padding-right:50px;
   
    
}


